<h1>Chat</h1>

<div>
  <ul *ngFor = 'let msg of oldMessages'>
    <p>tuka sum</p>
    <li><h6>{{msg.creator}}</h6>
      {{msg.body}}
      <br>
      {{msg.date}}
    </li>
  </ul>
  <ul *ngFor = 'let msg of messages'>
    <li><h6>{{msg.creator}}</h6>
      {{msg.body}}
      <br>
      {{msg.date}}
    </li>
  </ul>
</div>

<form (submit)="sendMessage(formMessage)" #formMessage="ngForm"
style="margin-bottom: 0; margin-top: auto;">
  <label for=""></label>
  <input type="text" name="body" ngModel required>
  <button type="submit">Send</button>
  <button type="button" (click)="leaveChat()">Leave</button>
</form>
